(
    operations: [
        (
            operation: "write",
            file: "kdeglobals",
            group: Some("KDE"),
            xdg_directory: "config",
            key: "SingleClick",
            value: "false",
        ),
        (
            operation: "write",
            file: "kdeglobals",
            group: Some("KDE"),
            xdg_directory: "config",
            key: "AnimationDurationFactor",
            value: "0.5",
        ),
        (
            operation: "write",
            file: "kwinrc",
            group: Some("Effect-blur"),
            xdg_directory: "config",
            key: "BlurStrength",
            value: "10",
        ),
        (
            operation: "write",
            file: "kwinrc",
            group: Some("Effect-blur"),
            xdg_directory: "config",
            key: "NoiseStrength",
            value: "0",
        ),
        (
            operation: "write",
            file: "kscreenlockerrc",
            group: Some("Daemon"),
            xdg_directory: "config",
            key: "LockGrace",
            value: "5000",
        ),
        (
            operation: "write",
            file: "kcminputrc",
            group: Some("Mouse"),
            xdg_directory: "config",
            key: "cursorTheme",
            value: "breeze_cursors",
        ),
    ],
)

